*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

#pages > section {
  display: none;
}

#pages > section.active {
  display: block;
}