.header-main-title{
    color: $font-color-two;
}


.header-subtitle{
    color: $font-color-one;
    font-size: 50px;
    padding: 70px 30px 25px 0;
    font-family: $mainFont;
}

.header-nav{
    padding-right: 70px;
    padding-top: 40px;
    text-align: right;
    font-weight: 600;
    z-index: 2;
}

a {
    text-decoration: none;
    color: $font-color-two;
    padding-left: 20px;
    letter-spacing: 2px; 
    z-index: 2;
}

.header-icon {
    color: $font-color-two;
    text-align: center;
}