/* font colors */

$font-color-one: #bea67c;
$font-color-two: #fff;
$font-color-three: #000;

/* fonts used */

$font-one: 'Sans Pro Bold',sans-serif;
$font-two:  'Sans Pro Regular', sans-serif;
$font-three: 'Sans Pro Semibold', sans-serif;
$font-four: 'Sans Pro Semibold Italic', sans-serif;
$font-five: 'Sans Pro Black', sans-serif;